
<% if signed_in? %>
	<% provide(:title, current_user.name) %>
	<div class="container">
		<div class="user-info-wrapper">
			
			<%= render "shared/current_user_info" %>

			<div class="micropost-form-wrapper">
				<%= render "shared/micropost_form" %>
			</div>

		</div> <!-- user-info-wrapper -->
		
		<div class="microposts-wrapper">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>

	</div> <!-- container -->

<% else %>
	<% provide(:title, 'Home') %>
	<div class="jumbo">
		<section class="jumbo-header">
			<h1>Photo app</h1>
			<h2>This is the home page for the Photo app</h2>
		</section>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large" %>
	</div> <!-- jumbo -->
<% end %>
