<div class="jumbo">
	<section class="jumbo-header">
		<h1>Photo app</h1>
		<h2>This is the home page for the Photo app</h2>
	</section>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large" %>

</div>
