<% provide(:title, @user.name) %>
<div class="container">
	<section class="photographer">
			<%= image_tag("photographer_300x300.jpg", alt: @user.name, class: "avatar") %>
			<h2><%= @user.name %></h2>
	</section>
</div>
