<section class="micropost-form">
  <h2>New Post</h2>
  <%= form_for(@micropost) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <%= f.text_area :content, placeholder: "Compose new micropost" %>

    <%= f.submit "Post", class: "btn" %>
  <% end %>
</section>