<section class="album-index">
	
	<div class="albums-listing-header">
		<h1>Albums</h1>
		<%= link_to(new_album_path) do %>
			<p class="btn btn-small"><i class="fa fa-plus"></i>new</p>
		<% end %>
	</div>

	<%= will_paginate @albums, :previous_label => "<", :next_label => ">" %>
		<%= render @albums %>
	<%= will_paginate @albums, :previous_label => "<", :next_label => ">" %>

</section>