- provide(:title, "New album")
.container
	.album-wrapper
		.new-album
			%h1 Add Album
			= form_for(:album, url: albums_path) do |f| 
				= f.label :name 
				= f.text_field :name 
				= f.submit "Create", class: "btn" 
      
