// Susy setup ---------------------------------------------

$total-columns: 				12;
$column-width:    			4em;
$gutter-width:   				1em;
$grid-padding:          $gutter-width;

@include border-box-sizing; 

// Susy -------------------------------------

/*$susy: (
	columns: 12,
	gutter-position: inside,
	gutter-width: 1/4,
);
*/



h1 { font-size: 2rem; }
h2 { font-size: 1.2rem; }

#{headings()},a, li, p, label, input {
	font-family: Arial, sans-serif;
	color: $gray;
}

label, input {
	font-size: 1.2rem;
}

p, li, a { 
	font-size: 1rem;
}

li { 
	padding: 0;
	margin: 0 10px;
}
a {
	text-decoration: none;
	margin: 0;
	padding: 0;

	&:hover {
		color: $dark-gray;
	}
}

h2 {
	margin: 20px 0;
}

.container { 
	@include container; 
	margin-top: 20px;
}

.btn {
	display: inline-block;
	margin: 20px auto;
	padding: 10px 15px;
	background: $orange;
	color: white;
	border: none;
	@include border-radius(2px);
	font-size: 1em;
	font-weight: bold;

	&:hover {
		background: $red;
		color: white;
	}
}

.btn-large {
	padding: 15px 25px;
}

.btn-small {
	padding: 5px 10px;
	margin: 0;
	font-weight: normal;
	font-size: 0.8em;
	
	&:hover {
		background: $red;
	}
}

.btn-green {
	background: $light-green;

	&:hover {
		background: darken($light-green, 10%);
	}
}

// Hidding input file UGLY buttons 
input[type=file] {
	display:none;
}

.btn-file-upload {
	background: $light-green;
}


.error_explanations {

	background: rgba(255,255,255, 0.25);
	padding: 20px;
	margin-bottom: 20px;
	@include border-radius(3px);

	h2 {
		margin: 10px 0;
		padding: 10px;
		font-family: Arial, sans-serif;
		font-size: 1rem;
		color: $red;
		background: rgba(255,255,255, 0.7);
		@include border-radius(3px);
	}

	li {
		padding: 5px 15px;
	}
}

i { 
	margin-right: 5px;
}

.menu-icon { color: $gray;}

.alert > h2 {
	display: inline-block;
	padding: 10px 20px;
	margin: 20px 0 0 0;
	background: $light-green;
	color: white;
	@include border-radius(2px);
}

.alert-success > h2 { 
	background: $light-green;
	color: white; 
	font-size: 1em;
}
