header {
	width: 100%;
	background: #e5e5e5;

	.header-container {
		text-align: center;
		min-height: $menu-height;

		.logo-wrapper {
			position: relative;
			@include pie-clearfix;
			height: $menu-height;

			#logo {
				display: inline;
				line-height: $menu-height;

				&:hover {
					color: $gray;
				}
			}

			.menu-icon {
				display: block;
				position: absolute;
				right: 25px;
				top: 16px;

				padding: 5px;
			
				@include border-radius(3px);

				&:hover {
					color: $dark-gray;
					cursor: pointer;
				}
			}
		} // logo-wrapper


		.menu-container {

			display: none;
			@include pie-clearfix; 

			ul {
				width: 100%;

				li {
					display: block;
					padding: 20px 0;
					border-top: 1px solid $light-gray;
				}
			}

		} // .menu-container
	} // .header-container

	@include at-breakpoint($small) {

		.header-container {
			text-align: initial;
			@include container;
			max-width: $max-width;

			.logo-wrapper {
				float: left;
				/*a > #logo {
					margin: 10px 0;
				}*/

				.menu-icon {
					display: none;
				}
			}

			.menu-container {
				display: initial;

				ul {
					@include horizontal-list;
					float: right;
					width: initial;
				
					li { 
						border-top: none;
					}
				}
			} // .menu-container

		} // container
	} // $small
}

.submenu-wrapper {
	display: none;
	@include container;
	max-width: $max-width;

	width: 100%;
	height: 40px;
	text-align: center;

	.submenu {
		@include container;
		@include horizontal-list;
	
		li {
			display: inline-block;
			padding-bottom: 10px;
			width: 30%;
		}
	} // submenu

	@include at-breakpoint($small) {

		.submenu {
			float: right;
		
			li {
				width: auto;
			}
		}
	} // $small

} // navbar-inner

.jumbo {
	width: 100%;
	height: 600px;
	padding: 50px;
	text-align: center;

	@include background(linear-gradient(top, rgba(black, .25), rgba(black, 0) ), image-url('front-page-photo.jpg'));

	background-repeat: no-repeat;
	background-position: center center;

	.jumbo-header {
		@include pie-clearfix;
	}

	h1,h2 {
		color: $white;
	}
}

// Footer ---------------------------------------

footer {
	width: 100%;
	margin-top: 50px;
	padding: 20px 0;
	background-color: $gray;

	pre {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 1em;
		color: white;
	}
}



// Signup ---------------------------------------

.signup-wrapper, .signin-wrapper {
	width: 100%;
	height: 800px;
	padding-top: 75px;
	@include background(image-url('signup.jpg'));
	background-repeat: no-repeat;
	background-position: center center;

	.signup, .signin {
		width: 400px;
		margin: 0 auto;
		padding: 30px;
		border-top: 1px solid rgba(255,255,255,0.25);
		border-bottom: 1px solid rgba(0,0,0,0.4);
		background: rgba(255,255,255,0.2);
		@include border-radius(5px);

		h1 {
			color: $white;
			margin-bottom: 30px;
		}

		p, a {
			color: $white;
			margin: 15px 0;
		}

		a {
			&:hover {
				text-decoration: underline;
			}
		}

		label { 
			width: 100%;
			display: inline-block;
			color: $white;
			margin-bottom: 7px;
		}

		input {
			display: inline-block;
			width: 100%;
			height: 45px;
			color: $white;
			margin-bottom: 15px;
			padding: 10px;
			@include border-radius(3px);

			background: rgba(255,255,255,0.25);
			border: none;
			outline: none;

		} // input
	} // signup

	input.btn-signup {
		margin: 20px auto;
		padding: 15px 20px;
		width: auto;
		height: auto;

		color: $white;
		background: rgba(255,255,255, 0.2);
		border: 3px solid $white;

		&:hover {
			background: rgba(255,255,255, 0.35);

			cursor: pointer;
		}

	} 
} // .singup-wrapper

.signin-wrapper {
	@include background(image-url('signin.jpg'));
}

.edit-profile-wrapper {
	@include background(image-url('edit_user.jpg'));

	img {
		width: 150px;
		height: 150px;
		border: 5px solid rgba(255,255,255, 0.25);
		margin-top: 20px;
		margin-right: 20px;
		@include border-radius(2px);
	}
}











