$max-width: 	1200px;

// Susy -----------------------------------------

$small                  : 30em;
$medium                 : 47em;
$large 								  : 75em;

// Colors ---------------------------------------

$white: 		#e5e5e5;
$orange: 		#f48d6c;
$red: 			#F16663;

$gray: 			#888;
$light-gray: #aaa;
$dark-gray: #555;