$max-width: 	61em;

// Susy -----------------------------------------

$small                  : 30em;
$medium                 : 47em;
$large 								  : 75em;

$total-columns: 				12;
$column-width:    			4em;
$gutter-width:   				1em;
$grid-padding:          $gutter-width;

// Colors ---------------------------------------

$white: 		#e5e5e5;
$orange: 		#f48d6c;
$red: 			#F16663;

$gray: 			#888;
$light-gray: #aaa;
$very-light-gray: #eee;
$dark-gray: #333;

// Menu -----------------------------------------

$menu-height: 60px;