.albums-listing-header {
	@include pie-clearfix;
	margin-bottom: 20px;
}

.album-wrapper{
	.album-name {
		@include pie-clearfix;
		margin-bottom: 40px;
	}
	
	h2 { 
		display: inline-block;
		margin: 0 25px 0 0 ;
	}
}
.album {
	float: left;
	margin-right: $gutter-width;
	padding: 20px;
	width: 200px;
	height: 250px;
	background: $very-light-gray;
	border: 1px solid $light-gray;
}

.album-index {
	h1 {
		display:inline-block;
		margin-right: 30px;
	}
}