.albums-listing-header {
	@include pie-clearfix;
}

.albums-collection {
	h2 { 

		margin-right: 50px;
	}
}
.album {
	float: left;
	margin: 20px;
	padding: 20px;
	width: 200px;
	height: 250px;
	background: $very-light-gray;
	border: 1px solid $light-gray;
}

.album-index {
	h1 {
		display:inline-block;
		margin-right: 30px;
	}
}